<div class="easyui-layout" border="false" fit="true" style="padding:0;margin:0;">
    <div data-options="region:'north'" border="false" style="padding:0;margin:0;">
        <form id="fm_Bahasa" method="post" novalidate style="margin:0;padding:5px">
		<table>
			<tr>
				<td width="100"><span style="float:right;">Kode/Nama</span></td>
				<td colspan="3">: <input name="id" id="id_Bahasa" class="easyui-textbox" style="width:80px;"></input> <input name="nama_bahasa" id="nama_bahasa_Bahasa" class="easyui-textbox" style="width:245px;"></td>
			</tr>
		</table>
        </form>
    </div>
    <div data-options="region:'center'" border="thin">
        <table id="dg_Bahasa" class="easyui-datagrid" footer="#toolbar_Bahasa">
        </table>
    </div>
</div>

<div id="toolbar_Bahasa" style="padding:8px 0;">
    <div style="float: left; color: #000;padding: 0 40px 0 10px;">
        <label>Keyword</label>
        <input class="easyui-textbox" id="cari_keyword" style="width:150px;">
        <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_Bahasa()"></a>
    </div>
    <div style="float: left;">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="margin:0 5px;" onclick="baru_Bahasa()">Baru</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="margin:0 5px;" onclick="simpan_Bahasa()">Simpan</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" style="margin:0 5px;" onclick="ubah_Bahasa()">Ubah</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cut'" style="margin:0 5px;" onclick="hapus_Bahasa()">Hapus</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-print'" style="margin:0 5px;" onclick="cetak_Bahasa()">Cetak</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="keluar_Bahasa()" style="margin:0 15px;">Keluar</a>
    </div>
</div>

<script type="text/javascript">
    var url = '{?=url()?}/{?=ADMIN?}/khanza/bahasa/?act=data&t={?=$_SESSION['token']?}';

    $('#dg_Bahasa').datagrid({
      url:url,
      singleSelect:true,
      pageSize:20,
      pagination:true,
      remoteFilter:false,
      remoteSort:false,
      multiSort:false,
      fitColumns:false,
      fit:true,
      columns:[[
        { field:'ck',checkbox:true},
        { field:'id',title:'ID',width:'100',sortable:true},
        { field:'nama_bahasa',title:'Nama Bahasa',width:'300',sortable:true}
      ]],
      onClickRow: function(){
        var row = $('#dg_Bahasa').datagrid('getSelected');
        $('#id_Bahasa').textbox('setValue',row.id);
        $('#nama_bahasa_Bahasa').textbox('setValue',row.nama_bahasa);
	  },
      onDblClickRow: function(){
        var row = $('#dg_Bahasa').datagrid('getSelected');
        $('#id_bahasa_Pasien').val(row.id);
        $('#nama_bahasa_pasien_Pasien').textbox('setValue',row.nama_bahasa);
        var dlg = $("#dlg_window_Pasien").data('dialog');
        if(typeof dlg !== 'undefined') {
            if(dlg.options.title == 'Cari Bahasa') {
                $('#dlg_window_Pasien').dialog('close', 'Bahasa')
            }
        }
	  }
    });

    function baru_Bahasa(){
        $('#fm_Bahasa').form('clear');
    }

    function simpan_Bahasa(){
		url = '{?=url()?}/{?=ADMIN?}/khanza/bahasa/?act=simpan&t={?=$_SESSION['token']?}'; 
		$('#fm_Bahasa').form('submit',{
			url: url,
			iframe: false,
			onSubmit: function(){
				return $(this).form('validate');
			},
			success: function(result){
				var result = eval('('+result+')');
				if (result.errorMsg){
					$.messager.show({
						title: 'Error',
						msg: result.errorMsg
					});
					var audio = new Audio('{?=url()?}/assets/sound/error.mp3');
					audio.play();
				} else {
					$('#dg_Bahasa').datagrid('reload');    // reload the user data
					$.messager.show({
						title: 'Sukses',
						msg: 'Data bahasa telah disimpan'
					});
				}
			}
        });
    }

    function ubah_Bahasa(){
		url = '{?=url()?}/{?=ADMIN?}/khanza/bahasa/?act=ubah&t={?=$_SESSION['token']?}'; 
		$('#fm_Bahasa').form('submit',{
			url: url,
			iframe: false,
			onSubmit: function(){
				return $(this).form('validate');
			},
			success: function(result){
				var result = eval('('+result+')');
				if (result.errorMsg){
					$.messager.show({
						title: 'Error',
						msg: result.errorMsg
					});
					var audio = new Audio('{?=url()?}/assets/sound/error.mp3');
					audio.play();
				} else {
					$('#dg_Bahasa').datagrid('reload');    // reload the user data
					$.messager.show({
						title: 'Sukses',
						msg: 'Bahasa pasien telah diubah!'
					});
				}
			}
        });
    }

    function hapus_Bahasa(){
        var row = $('#dg_Bahasa').datagrid('getSelected');
        var rows = $('#dg_Bahasa').datagrid('getSelections');
        if(rows.length === 0){
            $.messager.alert('Notifikasi','Silahkan pilih data!','info');
            return;
        }else if(rows.length > 1){
            $.messager.alert('Notifikasi','Pilih salah satu data saja boss!','info');
            return;
        }
        if (row){
            $.messager.confirm('Confirm','Yakin menghapus data ini?',function(r){
                if (r){
                    $.post('{?=url()?}/{?=ADMIN?}/khanza/bahasa/?act=hapus&t={?=$_SESSION['token']?}',{id:row.id},function(result){
                        if (result.errorMsg){
                        $.messager.show({    // show error message
                            title: 'Error',
                            msg: result.errorMsg
                        });
                        var audio = new Audio('{?=url()?}/assets/sound/error.mp3');
                        audio.play();
                        } else {
                        $.messager.show({    // show error message
                            title: 'Success',
                            msg: 'Bahasa pasien telah dihapus!'
                        });
                        $('#dg_Bahasa').datagrid('reload');   // reload the user data
                        }
                    },'json');
                }
            });
        }
    }

    function cetak_Bahasa(){
        alert('Form Cetak');
    }

    function keluar_Bahasa(){
        $('#wu-tabs').tabs('close','Bahasa');
    }

</script>
