<div class="easyui-layout" border="false" fit="true" style="padding:0;margin:0;">
    <div data-options="region:'north'" border="false" style="padding:10px 0;margin:10px 0;">
		<table>
			<tr>
				<td width="100"><span style="float:right;">Unit/Poli</span></td>
				<td>: <input name="kd_poli" id="cari_kd_poli_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:80px;"></input> <input name="nm_poli" id="cari_nm_poli_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:245px;"> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_Poliklinik_FrekuensiPenyakitRalan()"></a></td>
				<td width="100"><span style="float:right;">Kota/Kab</span></td>
				<td>: <input name="kd_kab" id="cari_kd_kab_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:80px;"></input> <input name="nm_kab" id="cari_nm_kab_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:245px;"> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_Kabupaten_FrekuensiPenyakitRalan()"></a></td>
			</tr>
			<tr>
				<td width="100"><span style="float:right;">Dokter</span></td>
				<td>: <input name="kd_dokter" id="cari_kd_dokter_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:80px;"></input> <input name="nm_dokter" id="cari_nm_dokter_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:245px;"> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_Dokter_FrekuensiPenyakitRalan()"></a></td>
				<td width="100"><span style="float:right;">Kecamatan</span></td>
				<td>: <input name="kd_kec" id="car_kd_kec_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:80px;"></input> <input name="nm_kec" id="cari_nm_kec_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:245px;"> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_Kecamatan_FrekuensiPenyakitRalan()"></a></td>
			</tr>
			<tr>
				<td width="100"><span style="float:right;">Cara Bayar</span></td>
				<td>: <input name="kd_pj" id="cari_kd_pj_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:80px;"></input> <input name="png_jawab" id="cari_png_jawab_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:245px;"> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_Penjab_FrekuensiPenyakitRalan()"></a></td>
				<td width="100"><span style="float:right;">Kelurahan</span></td>
				<td>: <input name="kd_kel" id="cari_kd_kel_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:80px;"></input> <input name="nm_kec" id="cari_nm_kec_FrekuensiPenyakitRalan" class="easyui-textbox" style="width:245px;"> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_Kelurahan_FrekuensiPenyakitRalan()"></a></td>
			</tr>
		</table>
    </div>
    <div data-options="region:'center'" border="thin">
        <table id="dg_FrekuensiPenyakitRalan" class="easyui-datagrid" footer="#toolbar_FrekuensiPenyakitRalan">
        </table>
    </div>
</div>

<div id="toolbar_FrekuensiPenyakitRalan" style="padding:8px 0;">
    <div style="float: left; color: #000;padding: 0 40px 0 10px;">
		<label style="margin-left: 16px;">Periode : </label>
		<input class="easyui-datebox" id="cari_tgl_registrasi_start_FrekuensiPenyakitRalan" data-options="formatter:dateformatter,parser:dateparser" value="{?=date('Y-m-d')?}" style="width:120px">
		<input class="easyui-datebox" id="cari_tgl_registrasi_end_FrekuensiPenyakitRalan" data-options="formatter:dateformatter,parser:dateparser" value="{?=date('Y-m-d')?}" style="width:120px">
        <label>Keyword</label>
        <input class="easyui-textbox" id="cari_keyword_FrekuensiPenyakitRalan" style="width:150px;">
        <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_FrekuensiPenyakitRalan()"></a>
		<a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-search" onclick="cari_semua_FrekuensiPenyakitRalan()"></a>
    </div>
    <div style="float: left;">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true" style="margin:0 5px;" onclick="cetak_FrekuensiPenyakitRalan()">Cetak</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="keluar_FrekuensiPenyakitRalan()" style="margin:0 15px;">Keluar</a>
    </div>
</div>

<script type="text/javascript">
    var url = '{?=url()?}/{?=ADMIN?}/khanza/frekuensipenyakitralan/?act=data&t={?=$_SESSION['token']?}';

    $('#dg_FrekuensiPenyakitRalan').datagrid({
      url:url,
      pagination:false,
      remoteFilter:false,
      remoteSort:false,
      multiSort:false,
      fitColumns:false,
      fit:true,
      columns:[[
        { field:'kd_penyakit',title:'Kode',width:'100',sortable:true},
        { field:'penyakit',title:'Nama Penyakit',width:'300',sortable:true}, 
        { field:'diagnosa',title:'Diagnosa Lain',width:'100',sortable:true}, 
        { field:'c',title:'L (Hidup)',width:'100',sortable:true}, 
        { field:'d',title:'P (Hidup)',width:'100',sortable:true}, 
        { field:'a',title:'L (Mati)',width:'100',sortable:true}, 
        { field:'b',title:'P (Mati)',width:'100',sortable:true}, 
        { field:'i',title:'Jumlah',width:'100',sortable:true}
      ]]
    });

    function cari_FrekuensiPenyakitRalan(){
		$('#dg_FrekuensiPenyakitRalan').datagrid('load',{
		  cari_nama_poli: $('#cari_nm_poli_FrekuensiPenyakitRalan').val(), 
		  cari_nama_dokter: $('#cari_nm_dokter_FrekuensiPenyakitRalan').val(), 
		  cari_png_jawab: $('#cari_png_jawab_FrekuensiPenyakitRalan').val(), 
		  cari_nm_kab: $('#cari_nm_kab_FrekuensiPenyakitRalan').val(), 
		  cari_nm_kec: $('#cari_nm_kec_FrekuensiPenyakitRalan').val(), 
		  cari_nm_kel: $('#cari_nm_kel_FrekuensiPenyakitRalan').val(), 
		  cari_keyword: $('#cari_keyword_FrekuensiPenyakitRalan').val(), 
		  cari_tgl_registrasi_start: $('#cari_tgl_registrasi_start_FrekuensiPenyakitRalan').val(), 
		  cari_tgl_registrasi_end: $('#cari_tgl_registrasi_end_FrekuensiPenyakitRalan').val() 
		});

    }

    function cari_Poliklinik_FrekuensiPenyakitRalan(){
        $('#wu-tabs').tabs('close','Poliklinik');
		$('#dlg_window').dialog({
			title: 'Cari Poliklinik',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','poliklinik'])?}',
			modal: true
		});
    }

    function cari_Dokter_FrekuensiPenyakitRalan(){
        $('#wu-tabs').tabs('close','Dokter');
		$('#dlg_window').dialog({
			title: 'Cari Dokter',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','dokter'])?}',
			modal: true
		});
    }

    function cari_Penjab_FrekuensiPenyakitRalan(){
        $('#wu-tabs').tabs('close','Penjab');
		$('#dlg_window').dialog({
			title: 'Cari Penjab',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','penjab'])?}',
			modal: true
		});
    }

    function baru_FrekuensiPenyakitRalan(){
        alert('Form Baru');
    }

    function simpan_FrekuensiPenyakitRalan(){
        alert('Form Simpan');
    }

    function ubah_FrekuensiPenyakitRalan(){
        alert('Form Ubah');
    }

    function hapus_FrekuensiPenyakitRalan(){
        alert('Form Hapus');
    }

    function cetak_FrekuensiPenyakitRalan(){
        alert('Form Cetak');
    }

    function keluar_FrekuensiPenyakitRalan(){
        $('#wu-tabs').tabs('close','Blank');
    }

</script>
