  <div class="easyui-layout" border="false" fit="true" style="padding:0;margin:0;">
    <div data-options="region:'center'" border="true" style="padding:1px;">
      <div class="easyui-panel" border="false" style="width:100%;height:100%;">
        <div class="easyui-layout" fit="true">
          <div region="south" border="false" style="padding:6px 5px;background:#efefef;">
            <div style="float: left;">
                <label>Alamat</label>
                <input class="easyui-textbox" id="cari_alamat" style="width:150px;">
                <label style="margin-left: 20px;">Keyword</label>
                <input class="easyui-textbox" id="cari_keyword_pasien" style="width:150px">
                <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_Pasien()"></a>
                <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-search" onclick="cari_semua_Pasien()"></a>
            </div>
            <div>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="margin:0 5px;" onclick="baru_Pasien()">Baru</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="margin:0 5px;" onclick="simpan_Pasien()">Simpan</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" style="margin:0 5px;" onclick="ubah_Pasien()">Ubah</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cut'" style="margin:0 5px;" onclick="hapus_Pasien()">Hapus</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-print'" style="margin:0 5px;" onclick="cetak_Pasien()">Cetak</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="keluar_Pasien()" style="margin:0 15px;">Keluar</a>
            </div>
          </div>
          <div region="center" border="false">
              <div id="tt" class="easyui-tabs" fit="true">
                  <div title="Form Pasien" style="display:none;padding:1px;">
                    <form id="fm_Pasien" method="post" novalidate style="margin:0;padding:15px">
                        <table>
                          <tr>
                            <td>
                              <table>
                                  <tr>
                                      <td width="160"><span style="float:right;">No. Rekam Medik</span></td>
                                      <td>: <input name="no_rkm_medis" id="no_rkm_medis_Pasien" class="easyui-textbox" style="width:150px;" readonly></input> <input class="easyui-checkbox" id="checkbox_no_rkm_medis_Pasien" checked="true"></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Nama Pasien</span></td>
                                      <td>: <input name="nm_pasien" id="nm_pasien_Pasien" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Jenis Kelamin</span></td>
                                      <td>:
                                        <select class="easyui-combobox" name="jk" id="jk_Pasien" data-options="panelHeight:null" style="width:144px">
                                          <option value="L">Laki-Laki</option>
                                          <option value="P">Perempuan</option>
                                        </select>
                                        Gol. Darah :
                                        <select class="easyui-combobox" name="gol_darah" id="gol_darah_Pasien" data-options="panelHeight:null" style="width:120px;">
                                          <option>O</option>
                                          <option>A</option>
                                          <option>B</option>
                                          <option>AB</option>
                                        </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Tmp/Tgl. Lahir</span></td>
                                      <td>: <input name="tmp_lahir" id="tmp_lahir_Pasien" class="easyui-textbox" style="width:220px;"></input> <input name="tgl_lahir" id="tgl_lahir_Pasien" class="easyui-datebox" data-options="formatter:dateformatter,parser:dateparser" value="{?=date('Y-m-d')?}" style="width:136px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Pendidikan</span></td>
                                      <td>: <select class="easyui-combobox" name="pnd" id="pnd_Pasien" data-options="panelHeight:null" style="width:360px;">
                                          <option>-</option>
                                          <option>TS</option>
                                          <option>TK</option>
                                          <option>SD</option>
                                          <option>SMP</option>
                                          <option>SMA</option>
                                          <option>SLTA/Sederajat</option>
                                          <option>D1</option>
                                        </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Nama Ibu Kandung</span></td>
                                      <td>: <input name="nm_ibu" id="nm_ibu_Pasien" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Png. Jawab</span></td>
                                      <td>: <input class="easyui-radiobutton" id="AYAH_Pasien" name="keluarga" value="AYAH" label="Ayah" labelPosition="after" labelWidth="100"> <input class="easyui-radiobutton" id="IBU_Pasien" name="keluarga" value="IBU" label="Ibu" labelPosition="after" labelWidth="100"> <input class="easyui-radiobutton" id="ISTRI_Pasien" name="keluarga" value="ISTRI" label="Istri" labelPosition="after" labelWidth="100"></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input class="easyui-radiobutton" id="SUAMI_Pasien" name="keluarga" value="SUAMI" label="Suami" labelPosition="after" labelWidth="100"> <input class="easyui-radiobutton" id="SAUDARA_Pasien" name="keluarga" value="SAUDARA" label="Saudara" labelPosition="after" labelWidth="100"> <input class="easyui-radiobutton" id="ANAK_Pasien" name="keluarga" value="ANAK" label="Anak" labelPosition="after" labelWidth="100"></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Nama Png. Jawab</span></td>
                                      <td>: <input name="namakeluarga" id="namakeluarga_Pasien" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Pekerjaan PJ</span></td>
                                      <td>: <input name="pekerjaanpj" id="pekerjaanpj_Pasien" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Suku Bangsa</span></td>
                                      <td>: <input type="hidden" name="suku_bangsa" id="id_suku_bangsa_Pasien"></input><input id="nama_suku_bangsa_Pasien" class="easyui-textbox" style="width:324px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_SukuBangsa_Pasien()"></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Bahasa Dipakai</span></td>
                                      <td>: <input type="hidden" name="bahasa_pasien" id="id_bahasa_Pasien"></input><input id="nama_bahasa_pasien_Pasien" class="easyui-textbox" style="width:324px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_Bahasa_Pasien()"></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Cacat Fisik</span></td>
                                      <td>: <input type="hidden" name="cacat_fisik" id="id_cacat_fisik_Pasien"></input><input id="nama_cacat_fisik_Pasien" class="easyui-textbox" style="width:324px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_CacatFisik_Pasien()"></a></td>
                                  </tr>
                              </table>
                            </td>
                            <td>
                              <table>
                                <tr>
                                    <td width="160"><span style="float:right;">Agama</span></td>
                                    <td>:
                                      <select class="easyui-combobox" name="agama" id="agama_Pasien" data-options="panelHeight:null" style="width:110px">
                                        <option>Islam</option>
                                        <option>Kristen</option>
                                        <option>Protestan</option>
                                        <option>Hindu</option>
                                        <option>Budha</option>
                                        <option>Konghucu</option>
                                        <option>Kepercayaan</option>
                                      </select>
                                      Stts. Nikah :
                                      <select class="easyui-combobox" name="stts_nikah" id="stts_nikah_Pasien" data-options="panelHeight:null" style="width:150px;">
                                        <option>MENIKAH</option>
                                        <option>BELUM MENIKAH</option>
                                        <option>JANDA</option>
                                        <option>DUDHA</option>
                                      </select>
                                    </td>
                                </tr>
                                  <tr>
                                      <td><span style="float:right;">Asuransi</span></td>
                                      <td>: <input name="kd_pj" id="kd_pj_Pasien" class="easyui-textbox" style="width:100px;"></input> <input name="png_jawab" id="png_jawab_Pasien" class="easyui-textbox" style="width:220px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_Penjab_Pasien()"></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Nomor Peserta</span></td>
                                      <td>: <input name="no_peserta" id="no_peserta_Pasien" class="easyui-textbox" style="width:150px;"></input> Email : <input name="email" id="email_Pasien" class="easyui-textbox" style="width:150px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">No. Telp</span></td>
                                      <td>: <input name="no_tlp" id="no_tlp_Pasien" class="easyui-textbox" style="width:150px;"></input> Tgl Daftar : <input name="tgl_daftar" id="tgl_daftar_Pasien" class="easyui-datebox" data-options="formatter:dateformatter,parser:dateparser" value="{?=date('Y-m-d')?}" style="width:120px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Pekerjaan</span></td>
                                      <td>: <input name="pekerjaan" id="pekerjaan_Pasien" class="easyui-textbox" style="width:150px;"></input> No. KTP : <input name="no_ktp" id="no_ktp_Pasien" class="easyui-textbox" style="width:133px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Alamat Pasien</span></td>
                                      <td>: <input name="alamat" id="alamat_Pasien" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input type="hidden" name="kd_kel" id="kd_kel_Pasien"></input><input name="nm_kel" id="nm_kel_Pasien" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_Kelurahan_Pasien()"></a> <input type="hidden" name="kd_kec" id="kd_kec_Pasien"></input><input name="nm_kec" id="nm_kec_Pasien" class="easyui-textbox" style="width:143px;"> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_Kecamatan_Pasien()"></a></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input type="hidden" name="kd_kab" id="kd_kab_Pasien"></input><input name="nm_kab_Pasien" id="nm_kab_Pasien" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_Kabupaten_Pasien()"></a> <input type="hidden" name="kd_prop" id="kd_prop_Pasien"></input><input name="nm_prop" id="nm_prop_Pasien" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_Propinsi_Pasien()"></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Alamat PJ</span></td>
                                      <td>: <input name="alamatpj" id="alamatpj_Pasien" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input name="kelurahanpj" id="kelurahanpj_Pasien" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_KelurahanPJ_Pasien()"></a> <input name="kecamatanpj" id="kecamatanpj_Pasien" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_KecamatanPJ_Pasien()"></a></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input name="kabupatenpj" id="kabupatenpj_Pasien" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_KabupatenPJ_Pasien()"></a> <input name="propinsipj" id="propinsipj_Pasien" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_PropinsiPJ_Pasien()"></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Instansi Pasien</span></td>
                                      <td>: <input type="hidden" name="perusahaan_pasien" id="kode_PerusahaanPasien_Pasien"></input><input id="nama_PerusahaanPasien_Pasien" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="cari_PerusahaanPasien_Pasien()"></a> NIP/NRP : <input name="nip" id="nip_Pasien" class="easyui-textbox" style="width:100px;"></input></td>
                                  </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                    </form>
                  </div>
                  <div title="Data Pasien" style="overflow:auto;display:none;padding:10px;">
                      <table id="dg_Pasien" class="easyui-datagrid" border="false">
                      </table>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="dlg_window_Pasien" class="easyui-dialog" style="width:98%;height:98%;" title="Dialog Window" data-options="closed:true,modal:true,border:'thin'"></div>

  <div id="klik_kanan" class="easyui-menu" style="width:250px;">
      <div onclick="getKartu()">Kartu Pasien</div>
      <div onclick="getDlgDefault()">Label Rekam Medis</div>
      <div>Identitas Pasien</div>
      <div>
          <span>BPJS</span>
          <div>
              <div onclick="cek_nik_bpjs()">Cek NIK Peserta</div>
              <div onclick="cek_peserta_bpjs()">Cek Nomor Peserta</div>
          </div>
      </div>
      <div>Data Kelahiran Bayi</div>
      <div>Riwayat Perawatan</div>
      <div>
          <span>Berkas Rekam Medis</span>
          <div>
              <div>Lembar Rawat Jalan</div>
              <div>Formulir Pendaftaran Pasien</div>
              <div>Laporan IGD</div>
              <div>Lembar Anamnesa</div>
              <div>Pengantar Hemodialisa</div>
              <div onclick="getCoverRM()">Cover Rekam Medis</div>
          </div>
      </div>
  </div>

  <script type="text/javascript">
    $('#dg_Pasien').datagrid({
        url:'{?=url()?}/{?=ADMIN?}/khanza/pasien/?act=data&t={?=$_SESSION['token']?}',
        singleSelect:true,
        pageSize:20,
        pagination:true,
        remoteFilter:false,
        remoteSort:false,
        multiSort:false,
        fitColumns:false,
        fit:true,
        columns:[[
            { field:'ck',checkbox:true},
            { field:'no_rkm_medis',title:'Nomor RM',sortable:true},
            { field:'nm_pasien',title:'Nama Pasien',sortable:true},
            { field:'no_ktp',title:'Nomor KTP',sortable:true},
            { field:'jk',title:'Jenis Kelamin',sortable:true},
            { field:'tmp_lahir',title:'Tempat Lahir',sortable:true},
            { field:'tgl_lahir',title:'Tanggal Lahir',sortable:true},
            { field:'nm_ibu',title:'Nama Ibu',sortable:true},
            { field:'alamat_pasien',title:'Alamat',sortable:true},
            { field:'gol_darah',title:'Gol. Darah',sortable:true},
            { field:'pekerjaan',title:'Pekerjaan',sortable:true},
            { field:'stts_nikah',title:'Status Nikah',sortable:true},
            { field:'umur',title:'Umur',sortable:true},
            { field:'keluarga',title:'Keluarga',sortable:true},
            { field:'stts_nikah',title:'Status',sortable:true},
            { field:'agama',title:'Agama',sortable:true},
            { field:'tgl_daftar',title:'Tanggal Daftar',sortable:true},
            { field:'no_tlp',title:'No. Telp',sortable:true},
            { field:'umur',title:'Umur',sortable:true},
            { field:'pnd',title:'Pendidikan',sortable:true},
            { field:'keluarga',title:'Penanggung Jawab',sortable:true},
            { field:'namakeluarga',title:'Nama Penanggung Jawab',sortable:true},
            { field:'png_jawab',title:'Asuransi',sortable:true},
            { field:'no_peserta',title:'No. Peserta',sortable:true},
            { field:'pekerjaanpj',title:'Pekerjaan PJ',sortable:true},
            { field:'alamat_pj',title:'Alamat PJ',sortable:true},
            { field:'nama_suku_bangsa',title:'Suku Bangsa',sortable:true},
            { field:'nama_bahasa',title:'Bahasa',sortable:true},
            { field:'nama_perusahaan_pasien',title:'Instansi/Perusahaan',sortable:true},
            { field:'nip',title:'NIP/NRP',sortable:true},
            { field:'email',title:'Email',sortable:true}
        ]],
        onRowContextMenu:function(e,index,row){
            e.preventDefault();
            $('#klik_kanan').menu('show', {
            left: e.pageX,
            top: e.pageY
            });
        },
        onClickRow: function(){
            var row = $('#dg_Pasien').datagrid('getSelected');
            $('#no_rkm_medis_Pasien').textbox('setValue',row.no_rkm_medis);
            $('#nm_pasien_Pasien').textbox('setValue',row.nm_pasien);
            if(row.jk == 'Perempuan') {
                $('#jk_Pasien').combobox('setValue','P');
            } else {
                $('#jk_Pasien').combobox('setValue','L');
            }
            $('#gol_darah_Pasien').combobox('setValue',row.gol_darah);
            $('#tmp_lahir_Pasien').textbox('setValue',row.tmp_lahir);
            $('#tgl_lahir_Pasien').datebox('setValue',row.tgl_lahir);
            $('#nm_ibu_Pasien').textbox('setValue',row.nm_ibu);
            $('#'+row.keluarga+'_Pasien').radiobutton({value: row.keluarga, checked: true});
            $('#namakeluarga_Pasien').textbox('setValue',row.namakeluarga);
            $('#pekerjaanpj_Pasien').textbox('setValue',row.pekerjaanpj);
            $('#stts_nikah_Pasien').combobox('setValue',row.stts_nikah);
            $('#id_suku_bangsa_Pasien').val(row.suku_bangsa);
            $('#nama_suku_bangsa_Pasien').textbox('setValue',row.nama_suku_bangsa);
            $('#id_bahasa_Pasien').val(row.bahasa_pasien);
            $('#nama_bahasa_pasien_Pasien').textbox('setValue',row.nama_bahasa);
            $('#id_cacat_fisik_Pasien').val(row.cacat_fisik);
            $('#nama_cacat_fisik_Pasien').textbox('setValue',row.nama_cacat);
            $('#kd_pj_Pasien').textbox('setValue',row.kd_pj);
            $('#png_jawab_Pasien').textbox('setValue',row.png_jawab);
            $('#alamat_Pasien').textbox('setValue',row.alamat);
            $('#kd_kel_Pasien').val(row.kd_kel);
            $('#nm_kel_Pasien').textbox('setValue',row.nm_kel);
            $('#kd_kec_Pasien').val(row.kd_kec);
            $('#nm_kec_Pasien').textbox('setValue',row.nm_kec);
            $('#kd_kab_Pasien').val(row.kd_kab);
            $('#nm_kab_Pasien').textbox('setValue',row.nm_kab);
            $('#kd_prop_Pasien').val(row.kd_prop);
            $('#nm_prop_Pasien').textbox('setValue',row.nm_prop);
            $('#alamatpj_Pasien').textbox('setValue',row.alamatpj);
            $('#kelurahanpj_Pasien').textbox('setValue',row.kelurahanpj);
            $('#kecamatanpj_Pasien').textbox('setValue',row.kecamatanpj);
            $('#kabupatenpj_Pasien').textbox('setValue',row.kabupatenpj);
            $('#propinsipj_Pasien').textbox('setValue',row.propinsipj);
            $('#kode_PerusahaanPasien_Pasien').val(row.kode_perusahaan);
            $('#nama_PerusahaanPasien_Pasien').textbox('setValue',row.nama_perusahaan);
            $('#nip_Pasien').textbox('setValue',row.nip);
            $('#no_peserta_Pasien').textbox('setValue',row.no_peserta);
            $('#no_telp_Pasien').textbox('setValue',row.no_telp);
            $('#pekerjaan_Pasien').textbox('setValue',row.pekerjaan);
            $('#no_tlp_Pasien').textbox('setValue',row.no_tlp);
            $('#no_ktp_Pasien').textbox('setValue',row.no_ktp);
            $('#email_Pasien').textbox('setValue',row.email);
        },
        onDblClickRow: function(){
            var row = $('#dg_Pasien').datagrid('getSelected');
            $('#no_rkm_medis_RegPeriksa').textbox('setValue',row.no_rkm_medis);
            $('#nm_pasien_RegPeriksa').textbox('setValue',row.nm_pasien);
            var dlg = $("#dlg_window").data('dialog');
            if(typeof dlg !== 'undefined') {
                if(dlg.options.title == 'Cari Pasien') {
                    $('#dlg_window').dialog('close', 'Pasien')
                }
            }
	    }, 
        onLoadSuccess: function(data){
            var url = '{?=url()?}/{?=ADMIN?}/khanza/pasien/?act=get_no_rkm_medis&t={?=$_SESSION['token']?}';
            $.post(url,{}, function(data) {
                $('#no_rkm_medis_Pasien').textbox('setValue',data);
            });
        }
    });

    $('#checkbox_no_rkm_medis_Pasien').checkbox({
        onChange: function(){
            $('#no_rkm_medis_Pasien').textbox('readonly', false); 
        }
    });

    function baru_Pasien(){
		$('#fm_Pasien').form('clear');
        var url = '{?=url()?}/{?=ADMIN?}/khanza/pasien/?act=get_no_rkm_medis&t={?=$_SESSION['token']?}';
        $.post(url,{}, function(data) {
            $('#no_rkm_medis_Pasien').textbox('setValue',data);
            $('#checkbox_no_rkm_medis_Pasien').checkbox({checked: true}); 
            $('#no_rkm_medis_Pasien').textbox('readonly', true); 
        });
        $('#tgl_lahir_Pasien').datebox('setValue','{?=date('Y-m-d')?}');
        $('#tgl_daftar_Pasien').datebox('setValue','{?=date('Y-m-d')?}');
        $('#jk_Pasien').combobox('setValue','L');
        $('#gol_darah_Pasien').combobox('setValue','O');
        $('#agama_Pasien').combobox('setValue','Islam');
        $('#stts_nikah_Pasien').combobox('setValue','MENIKAH');
    }

    function simpan_Pasien(){
        $('#fm_Pasien').form('submit',{
            url: '{?=url()?}/{?=ADMIN?}/khanza/pasien/?act=simpan&t={?=$_SESSION['token']?}',
            iframe: false,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                    var audio = new Audio('{?=url()?}/assets/sound/error.mp3');
                    audio.play();
                } else {
                    $.messager.show({
                        title: 'Sukses',
                        msg: 'Pasien dengan nomor ' + result.no_rkm_medis + ' telah disimpan!'
                    });
                    $('#dg_Pasien').datagrid('reload');    // reload the user data
                }
            }
        });
    }

    function cari_SukuBangsa_Pasien(){
        $('#wu-tabs').tabs('close','Suku Bangsa');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Suku Bangsa',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','sukubangsa'])?}',
			modal: true
		});
    }

	function cari_Bahasa_Pasien()
	{
        $('#wu-tabs').tabs('close','Bahasa Pasien');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Bahasa',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','bahasa'])?}',
			modal: true
		});
	}

	function cari_CacatFisik_Pasien()
	{
        $('#wu-tabs').tabs('close','Cacat Fisik');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Cacat Fisik',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','cacatfisik'])?}',
			modal: true
		});
	}

	function cari_Kelurahan_Pasien()
	{
        $('#wu-tabs').tabs('close','Kelurahan');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Kelurahan',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','kelurahan'])?}',
			modal: true
		});
	}

	function cari_KelurahanPJ_Pasien()
	{
        $('#wu-tabs').tabs('close','Kelurahan');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Kelurahan PJ',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','kelurahan'])?}',
			modal: true
		});
	}    

	function cari_Kecamatan_Pasien()
	{
        $('#wu-tabs').tabs('close','Kecamatan');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Kecamatan',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','kecamatan'])?}',
			modal: true
		});
	}

	function cari_KecamatanPJ_Pasien()
	{
        $('#wu-tabs').tabs('close','Kecamatan');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Kecamatan PJ',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','kecamatan'])?}',
			modal: true
		});
	}

	function cari_Kabupaten_Pasien()
	{
        $('#wu-tabs').tabs('close','Kabupaten');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Kabupaten',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','kabupaten'])?}',
			modal: true
		});
	}

	function cari_KabupatenPJ_Pasien()
	{
        $('#wu-tabs').tabs('close','Kabupaten');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Kabupaten PJ',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','kabupaten'])?}',
			modal: true
		});
	}

	function cari_Propinsi_Pasien()
	{
        $('#wu-tabs').tabs('close','Propinsi');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Propinsi',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','propinsi'])?}',
			modal: true
		});
	}

	function cari_PropinsiPJ_Pasien()
	{
        $('#wu-tabs').tabs('close','Propinsi');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Propinsi PJ',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','propinsi'])?}',
			modal: true
		});
	}

	function cari_Penjab_Pasien()
	{
        $('#wu-tabs').tabs('close','Penjab');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Penjab',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','penjab'])?}',
			modal: true
		});
	}

	function cari_PerusahaanPasien_Pasien()
	{
        $('#wu-tabs').tabs('close','Perusahaan Pasien');
		$('#dlg_window_Pasien').dialog({
			title: 'Cari Perusahaan Pasien',
			closed: false,
			cache: false,
			href: '{?=url([ADMIN,'khanza','perusahaanpasien'])?}',
			modal: true
		});
	}

    function ubah_Pasien(){
        var row = $('#dg_Pasien').datagrid('getSelected');
        var rows = $('#dg_Pasien').datagrid('getSelections');
        if(rows.length === 0){
            $.messager.alert('Notifikasi','Silahkan pilih data!','info');
            return;
        }else if(rows.length > 1){
            $.messager.alert('Notifikasi','Pilih salah satu data saja boss!','info');
            return;
        }
        $('#fm_Pasien').form('submit',{
            url: '{?=url()?}/{?=ADMIN?}/khanza/pasien/?act=ubah&t={?=$_SESSION['token']?}',
            iframe: false,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                    var audio = new Audio('{?=url()?}/assets/sound/error.mp3');
                    audio.play();
                } else {
                    $.messager.show({
                        title: 'Sukses',
                        msg: 'Pasien dengan nomor ' + result.no_rkm_medis + ' telah diubah!'
                    });
                    $('#dg_Pasien').datagrid('reload');    // reload the user data
                }
            }
        });
    }

    function hapus_Pasien(){
        var row = $('#dg_Pasien').datagrid('getSelected');
        var rows = $('#dg_Pasien').datagrid('getSelections');
        if(rows.length === 0){
            $.messager.alert('Notifikasi','Silahkan pilih data!','info');
            return;
        }else if(rows.length > 1){
            $.messager.alert('Notifikasi','Pilih salah satu data saja boss!','info');
            return;
        }
        if (row){
            $.messager.confirm('Confirm','Yakin menghapus data ini?',function(r){
                if (r){
                    $.post('{?=url()?}/{?=ADMIN?}/khanza/pasien/?act=hapus&t={?=$_SESSION['token']?}',{no_rkm_medis:row.no_rkm_medis},function(result){
                        if (result.errorMsg){
                        $.messager.show({    // show error message
                            title: 'Error',
                            msg: result.errorMsg
                        });
                        var audio = new Audio('{?=url()?}/assets/sound/error.mp3');
                        audio.play();
                        } else {
                        $.messager.show({    // show error message
                            title: 'Success',
                            msg: 'Pasien dengan nomor ' + result.no_rkm_medis + ' telah dihapus!'
                        });
                        $('#dg_Pasien').datagrid('reload');   // reload the user data
                        }
                    },'json');
                }
            });
        }
    }

    function cetak_Pasien(){
        var cari_alamat = $('#cari_alamat').val();
        var cari_keyword = $('#cari_keyword_pasien').val();
        $('#dlg_window_Pasien').dialog({
            title: 'Cetak Data Pasien',
            closed: false,
            cache: false,
            content: '<embed width="100%" height="100%" src="{?=url()?}/{?=ADMIN?}/khanza/jasper/?act=pasien&cari_alamat=' + cari_alamat + '&cari_keyword=' + cari_keyword + '&t={?=$_SESSION['token']?}"></embed>',
            modal: true
        });
    }

    function cari_Pasien(){
        $('#dg_Pasien').datagrid('load',{
            cari_alamat: $('#cari_alamat').val(),
            cari_keyword: $('#cari_keyword_pasien').val()
        });
    }

    function cari_semua_Pasien(){
        $('#cari_alamat').textbox('clear');
        $('#cari_keyword_pasien').textbox('clear');
        cari_Pasien();
    }

    function getKartu(){
        var row = $('#dg_Pasien').datagrid('getSelected');
        var rows = $('#dg_Pasien').datagrid('getSelections');
        if(rows.length === 0){
            $.messager.alert('Notifikasi','Silahkan pilih data!','info');
            return;
        }else if(rows.length > 1){
            $.messager.alert('Notifikasi','Pilih salah satu data saja boss!','info');
            return;
        }
        if (row){
            $('#dlg_window_Pasien').dialog({
                title: 'Cetak Kartu',
                closed: false,
                cache: false,
                content: '<center><embed width="680" height="460" src="{?=url()?}/{?=ADMIN?}/khanza/jasper/?act=kartu&no_rkm_medis='+row.no_rkm_medis+'&t={?=$_SESSION['token']?}"></embed></center>',
                modal: true
            });
        }
    }

    function getCoverRM(){
        var row = $('#dg_Pasien').datagrid('getSelected');
        var rows = $('#dg_Pasien').datagrid('getSelections');
        if(rows.length === 0){
            $.messager.alert('Notifikasi','Silahkan pilih data!','info');
            return;
        }else if(rows.length > 1){
            $.messager.alert('Notifikasi','Pilih salah satu data saja boss!','info');
            return;
        }
        if (row){
            $('#dlg_window_Pasien').dialog({
                title: 'Cetak Cover Rekam Medis',
                closed: false,
                cache: false,
                content: '<embed width="100%" height="100%" src="{?=url()?}/{?=ADMIN?}/khanza/jasper/?act=coverrm&no_rkm_medis='+row.no_rkm_medis+'&t={?=$_SESSION['token']?}"></embed>',
                modal: true
            });
        }
    }

    function cek_peserta_bpjs()
    {
        var row = $('#dg_Pasien').datagrid('getSelected');
        $('#dlg_window_Pasien').dialog({
            title: 'Cek Data Pasien',
            closed: false,
            cache: false,
            content: '<embed width="100%" height="100%" src="{?=url()?}/{?=ADMIN?}/khanza/bpjs/?act=ceknoka&noka=' + row.no_peserta + '&t={?=$_SESSION['token']?}"></embed>',
            modal: true
        });
    }

    function cek_nik_bpjs()
    {
        var row = $('#dg_Pasien').datagrid('getSelected');
        $('#dlg_window_Pasien').dialog({
            title: 'Cek Data Pasien',
            closed: false,
            cache: false,
            content: '<embed width="100%" height="100%" src="{?=url()?}/{?=ADMIN?}/khanza/bpjs/?act=ceknik&nik=' + row.no_ktp + '&t={?=$_SESSION['token']?}"></embed>',
            modal: true
        });
    }

    function keluar_Pasien(){
        $('#wu-tabs').tabs('close','Pasien');
        $('#dlg_window').dialog('close', 'Cari Pasien')
    }

  </script>
