  <div class="easyui-layout" border="false" fit="true" style="padding:0;margin:0;">
    <div data-options="region:'center'" border="true" style="padding:1px;">
      <div class="easyui-panel" border="false" style="width:100%;height:100%;">
        <div class="easyui-layout" fit="true">
          <div region="south" border="false" style="padding:6px 5px;background:#efefef;">
            <div style="float: left;">
                <label>Alamat</label>
                <input class="easyui-textbox" id="cari_alamat" style="width:150px;">
                <label style="margin-left: 20px;">Keyword</label>
                <input class="easyui-textbox" id="cari_keyword_pasien" style="width:150px">
                <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="doSearch()"></a>
                <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-search" onclick="doSemua()"></a>
            </div>
            <div>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" style="margin:0 5px;" onclick="baru_Pasien()">Baru</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" style="margin:0 5px;" onclick="simpan_Pasien()">Simpan</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" style="margin:0 5px;" onclick="ubah_Pasien()">Ubah</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cut',plain:true" style="margin:0 5px;" onclick="hapus_Pasien()">Hapus</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true" style="margin:0 5px;" onclick="cetak_Pasien()">Cetak</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="keluar_Pasien()" style="margin:0 15px;">Keluar</a>
            </div>
          </div>
          <div region="center" border="false">
              <div id="tt" class="easyui-tabs" fit="true">
                  <div title="Form Pasien" style="display:none;padding:1px;">
                    <form id="fm" method="post" novalidate style="margin:0;padding:15px">
                        <table>
                          <tr>
                            <td>
                              <table>
                                  <tr>
                                      <td width="160"><span style="float:right;">No. Rekam Medik</span></td>
                                      <td>: <input name="no_rkm_medis" id="no_rkm_medis_Pasien" class="easyui-textbox" style="width:150px;"></input> <input class="easyui-checkbox" name="fruit" value="Apple" checked="true"></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Nama Pasien</span></td>
                                      <td>: <input name="nm_pasien" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Jenis Kelamin</span></td>
                                      <td>:
                                        <select class="easyui-combobox" name="jk" data-options="panelHeight:null" style="width:144px">
                                          <option value="L">Laki-Laki</option>
                                          <option value="P">Perempuan</option>
                                        </select>
                                        Gol. Darah :
                                        <select class="easyui-combobox" name="gol_darah" data-options="panelHeight:null" style="width:120px;">
                                          <option>O</option>
                                          <option>A</option>
                                        </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Tmp/Tgl. Lahir</span></td>
                                      <td>: <input name="tmp_lahir" class="easyui-textbox" style="width:220px;"></input> <input name="tgl_lahir" class="easyui-datebox" style="width:136px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Pendidikan</span></td>
                                      <td>: <select class="easyui-combobox" name="pnd" data-options="panelHeight:null" style="width:360px;">
                                          <option>-</option>
                                          <option>TS</option>
                                          <option>TK</option>
                                          <option>SD</option>
                                          <option>SMP</option>
                                          <option>SMA</option>
                                          <option>SLTA/Sederajat</option>
                                          <option>D1</option>
                                        </select>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Nama Ibu Kandung</span></td>
                                      <td>: <input name="nm_ibu" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Png. Jawab</span></td>
                                      <td>: <input class="easyui-radiobutton" name="keluarga" value="AYAH" label="Ayah" labelPosition="after" labelWidth="100"> <input class="easyui-radiobutton" name="keluarga" value="IBU" label="Ibu" labelPosition="after" labelWidth="100"> <input class="easyui-radiobutton" name="keluarga" value="ISTRI" label="Istri" labelPosition="after" labelWidth="100"></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input class="easyui-radiobutton" name="keluarga" value="SUAMI" label="Suami" labelPosition="after" labelWidth="100"> <input class="easyui-radiobutton" name="keluarga" value="SAUDARA" label="Saudara" labelPosition="after" labelWidth="100"> <input class="easyui-radiobutton" name="keluarga" value="ANAK" label="Anak" labelPosition="after" labelWidth="100"></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Nama Png. Jawab</span></td>
                                      <td>: <input name="namakeluarga" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Pekerjaan PJ</span></td>
                                      <td>: <input name="pekerjaanpj" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Suku Bangsa</span></td>
                                      <td>: <input name="suku_bangsa" id="suku_bangsa" class="easyui-textbox" style="width:324px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick="sukuBangsa()"></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Bahasa Dipakai</span></td>
                                      <td>: <input name="bahasa_pasien" class="easyui-textbox" style="width:324px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Cacat Fisik</span></td>
                                      <td>: <input name="cacat_fisik" class="easyui-textbox" style="width:324px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a></td>
                                  </tr>
                              </table>
                            </td>
                            <td>
                              <table>
                                <tr>
                                    <td width="160"><span style="float:right;">Agama</span></td>
                                    <td>:
                                      <select class="easyui-combobox" name="agama" data-options="panelHeight:null" style="width:110px">
                                        <option>Islam</option>
                                        <option>Kristen</option>
                                      </select>
                                      Stts. Nikah :
                                      <select class="easyui-combobox" name="stts_nikah" data-options="panelHeight:null" style="width:150px;">
                                        <option>MENIKAH</option>
                                        <option>BELUM MENIKAH</option>
                                      </select>
                                    </td>
                                </tr>
                                  <tr>
                                      <td><span style="float:right;">Asuransi</span></td>
                                      <td>: <input name="kd_pj" class="easyui-textbox" style="width:100px;"></input> <input name="png_jawab" class="easyui-textbox" style="width:220px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Nomor Peserta</span></td>
                                      <td>: <input name="no_peserta" class="easyui-textbox" style="width:150px;"></input> Email : <input name="email" class="easyui-textbox" style="width:150px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">No. Telp</span></td>
                                      <td>: <input name="no_tlp" class="easyui-textbox" style="width:150px;"></input> Tgl Daftar : <input name="tgl_daftar" class="easyui-datebox" style="width:120px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Pekerjaan</span></td>
                                      <td>: <input name="pekerjaan" class="easyui-textbox" style="width:150px;"></input> No. KTP : <input name="no_ktp" class="easyui-textbox" style="width:133px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Alamat Pasien</span></td>
                                      <td>: <input name="alamat" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input name="kd_kel" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a> <input name="kd_kec" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input name="kd_kab" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a> <input name="kd_prop" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Alamat PJ</span></td>
                                      <td>: <input name="alamatpj" class="easyui-textbox" style="width:360px;"></input></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input name="kelurahanpj" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a> <input name="kecamatanpj" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a></td>
                                  </tr>
                                  <tr>
                                      <td></td>
                                      <td>&nbsp;&nbsp;<input name="kabupatenpj" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a> <input name="propinsipj" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a></td>
                                  </tr>
                                  <tr>
                                      <td><span style="float:right;">Instansi Pasien</span></td>
                                      <td>: <input name="perusahaan_pasien" class="easyui-textbox" style="width:143px;"></input> <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-edit" onclick=""></a> NIP/NRP : <input name="nip" class="easyui-textbox" style="width:100px;"></input></td>
                                  </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                    </form>
                  </div>
                  <div title="Data Pasien" style="overflow:auto;display:none;padding:10px;">
                      <table id="dg_Pasien" class="easyui-datagrid" border="false">
                      </table>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="klik_kanan" class="easyui-menu" style="width:250px;">
      <div onclick="getKartu()">Kartu Pasien</div>
      <div onclick="getDlgDefault()">Label Rekam Medis</div>
      <div>Identitas Pasien</div>
      <div>
          <span>BPJS</span>
          <div>
              <div onclick="cek_nik_bpjs()">Cek NIK Peserta</div>
              <div onclick="cek_peserta_bpjs()">Cek Nomor Peserta</div>
          </div>
      </div>
      <div>Data Kelahiran Bayi</div>
      <div>Riwayat Perawatan</div>
      <div>
          <span>Berkas Rekam Medis</span>
          <div>
              <div>Lembar Rawat Jalan</div>
              <div>Formulir Pendaftaran Pasien</div>
              <div>Laporan IGD</div>
              <div>Lembar Anamnesa</div>
              <div>Pengantar Hemodialisa</div>
              <div onclick="getCoverRM()">Cover Rekam Medis</div>
          </div>
      </div>
  </div>

  <script type="text/javascript">
    $('#dg_Pasien').datagrid({
        url:'{?=url()?}/{?=ADMIN?}/khanza/pasien/?act=data&t={?=$_SESSION['token']?}',
        singleSelect:true,
        pageSize:20,
        pagination:true,
        remoteFilter:false,
        remoteSort:false,
        multiSort:false,
        fitColumns:false,
        fit:true,
        columns:[[
            { field:'ck',checkbox:true},
            { field:'no_rkm_medis',title:'Nomor RM',sortable:true},
            { field:'nm_pasien',title:'Nama Pasien',sortable:true},
            { field:'alamat',title:'Alamat',sortable:true},
            { field:'no_ktp',title:'Nomor KTP',sortable:true},
            { field:'jk',title:'Jenis Kelamin',sortable:true},
            { field:'tgl_lahir',title:'Tanggal Lahir',sortable:true},
            { field:'umur',title:'Umur',sortable:true},
            { field:'keluarga',title:'Keluarga',sortable:true},
            { field:'stts_nikah',title:'Status',sortable:true},
            { field:'agama',title:'Agama',sortable:true}
        ]],
        onRowContextMenu:function(e,index,row){
            e.preventDefault();
            $('#klik_kanan').menu('show', {
            left: e.pageX,
            top: e.pageY
            });
        },
        onClickRow: function(){
            var row = $('#dg_Pasien').datagrid('getSelected');
            $('#nomor_peserta').textbox('setValue',row.no_peserta);
            $('#nomor_nik').textbox('setValue',row.no_ktp);
            $('#bpjs_cek_kartu_dlg').dialog('close');
            $('#bpjs_cek_nik_dlg').dialog('close');
            $('#help_pasien_window').dialog('close');
            $('#no_rkm_medis_RegPeriksa').textbox('setValue',row.no_rkm_medis);
            $('#no_rkm_medis_Pasien').textbox('setValue',row.no_rkm_medis);
            $('#nm_pasien_RegPeriksa').textbox('setValue',row.nm_pasien);
            var dlg = $("#dlg_window").data('dialog');
            if(typeof dlg !== 'undefined') {
                if(dlg.options.title == 'Cari Pasien') {
                    $('#dlg_window').dialog('close', 'Pasien')
                }
            }
	    }, 
        onLoadSuccess: function(data){
            var url = '{?=url()?}/{?=ADMIN?}/khanza/pasien/?act=get_no_rkm_medis&t={?=$_SESSION['token']?}';
            $.post(url,{}, function(data) {
                $('#no_rkm_medis_Pasien').textbox('setValue',data);
            });
        }
    });

    function baru_Pasien(){
        alert('Form Baru');
    }

    function simpan_Pasien(){
        alert('Form Simpan');
    }

    function ubah_Pasien(){
        alert('Form Ubah');
    }

    function hapus_Pasien(){
        alert('Form Hapus');
    }

    function cetak_Pasien(){
        alert('Form Cetak');
    }

    function keluar_Pasien(){
        $('#wu-tabs').tabs('close','Pasien');
        $('#dlg_window').dialog('close', 'Cari Pasien')
    }

  </script>
