<div class="easyui-layout" border="false" fit="true" style="padding:0;margin:0;">
    <div data-options="region:'north'" border="false" style="padding:10px 0;margin:10px 0;">
		<table>
			<tr>
				<td width="110"><span style="float:right;">Kode</span></td>
				<td>: 
                    <input name="kd_pj" id="kd_pj_Penjab" class="easyui-textbox" style="width:80px;" />
                    Asuransi : 
                    <input name="png_jawab" id="png_jawab_Penjab" class="easyui-textbox" style="width:300px;" />
                    Telp : 
                    <input name="no_telp" id="no_telp_Penjab" class="easyui-textbox" style="width:100px;" />
                </td>
			</tr>
			<tr>
				<td width="110"><span style="float:right;">Nama Asuransi</span></td>
				<td>: 
                    <input name="nama_perusahaan" id="nama_perusahaan_Penjab" class="easyui-textbox" style="width:360px;" />
                    Attn : 
                    <input name="attn" id="attn_Penjab" class="easyui-textbox" style="width:200px;" />
                </td>
			</tr>
			<tr>
				<td width="110"><span style="float:right;">Alamat</span></td>
				<td>: 
                    <input name="alamat_asuransi" id="alamat_asuransi_Penjab" class="easyui-textbox" style="width:610px;" />
                </td>
			</tr>
		</table>
    </div>
    <div data-options="region:'center'" border="thin">
        <table id="dg_Penjab" class="easyui-datagrid" footer="#toolbar_Penjab">
        </table>
    </div>
</div>

<div id="toolbar_Penjab" style="padding:8px 0;">
    <div style="float: left; color: #000;padding: 0 40px 0 10px;">
        <label>Keyword</label>
        <input class="easyui-textbox" id="cari_keyword_Penjab" style="width:150px;">
        <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="doSearch_Penjab()"></a>
    </div>
    <div style="float: left;">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" style="margin:0 5px;" onclick="baru_Penjab()">Baru</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" style="margin:0 5px;" onclick="simpan_Penjab()">Simpan</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" style="margin:0 5px;" onclick="ubah_Penjab()">Ubah</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cut',plain:true" style="margin:0 5px;" onclick="hapus_Penjab()">Hapus</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true" style="margin:0 5px;" onclick="cetak_Penjab()">Cetak</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="keluar_Penjab()" style="margin:0 15px;">Keluar</a>
    </div>
</div>

<script type="text/javascript">
    var url;
    $('#dg_Penjab').datagrid({
      url:'{?=url()?}/{?=ADMIN?}/khanza/penjab/?act=data&t={?=$_SESSION['token']?}',
      rownumbers:true,
      singleSelect:true,
      pageSize:20,
      pagination:true,
      remoteFilter:false,
      remoteSort:false,
      multiSort:false,
      fitColumns:false,
      fit:true,
      columns:[[
        { field:'ck',checkbox:true},
        { field:'kd_pj',title:'Kode Penjab',sortable:true},
        { field:'png_jawab',title:'Nama Penjab',sortable:true},
        { field:'nama_perusahaan',title:'Nama Perusahaan',sortable:true},
        { field:'alamat_asuransi',title:'Alamat Asuransi',sortable:true},
        { field:'no_telp',title:'Nomor Telepon',sortable:true},
        { field:'attn',title:'Attn',sortable:true},
        { field:'status',title:'Status',sortable:true}
      ]],
      onClickRow: function(){
        var row = $('#dg_Penjab').datagrid('getSelected');
        $('#kd_pj_Penjab').textbox('setValue',row.kd_pj);
        $('#png_jawab_Penjab').textbox('setValue',row.png_jawab);
        $('#no_telp_Penjab').textbox('setValue',row.no_telp);
        $('#attn_Penjab').textbox('setValue',row.attn);
        $('#nama_perusahaan_Penjab').textbox('setValue',row.nama_perusahaan);
        $('#alamat_asuransi_Penjab').textbox('setValue',row.alamat_asuransi);
	  },
      onDblClickRow: function(){
        var row = $('#dg_Penjab').datagrid('getSelected');
        $('#kd_pj_RegPeriksa').textbox('setValue',row.kd_pj);
        $('#png_jawab_RegPeriksa').textbox('setValue',row.png_jawab);
        $('#kd_pj_Pasien').textbox('setValue',row.kd_pj);
        $('#png_jawab_Pasien').textbox('setValue',row.png_jawab);
        $('#cari_kd_pj_FrekuensiPenyakitRalan').textbox('setValue',row.kd_pj);
        $('#cari_png_jawab_FrekuensiPenyakitRalan').textbox('setValue',row.png_jawab);
        var dlg = $("#dlg_window").data('dialog');
        if(typeof dlg !== 'undefined') {
            if(dlg.options.title == 'Cari Penjab') {
                $('#dlg_window').dialog('close', 'Penjab')
            }
        }
      }
    });

    function baru_Penjab(){
        alert('Form Baru');
    }

    function simpan_Penjab(){
        alert('Form Simpan');
    }

    function ubah_Penjab(){
        alert('Form Ubah');
    }

    function hapus_Penjab(){
        alert('Form Hapus');
    }

    function cetak_Penjab(){
        alert('Form Cetak');
    }

    function keluar_Penjab(){
        $('#wu-tabs').tabs('close','Penjab');
    }

</script>
