<div class="easyui-layout" border="false" fit="true" style="padding:0;margin:0;">
    <div data-options="region:'north'" border="false" style="padding:10px 0;margin:10px 0;">
		<table>
			<tr>
				<td width="100"><span style="float:right;">Kode/Nama</span></td>
				<td>: <input name="kode_PerusahaanPasien" id="kode_PerusahaanPasien" class="easyui-textbox" style="width:80px;"></input> Nama : <input name="nama_PerusahaanPasien" id="nama_PerusahaanPasien" class="easyui-textbox" style="width:258px;"></td>
				<td width="100"><span style="float:right;">Kota</span></td>
				<td>: <input name="kota_PerusahaanPasien" id="kota_PerusahaanPasien" class="easyui-textbox" style="width:80px;"></input></td>
			</tr>
			<tr>
				<td width="100"><span style="float:right;">Alamat</span></td>
				<td>: <input name="alamat_PerusahaanPasien" id="alamat_PerusahaanPasien" class="easyui-textbox" style="width:400px;"></input></td>
				<td width="100"><span style="float:right;">Telepon</span></td>
				<td>: <input name="no_telp_PerusahaanPasien" id="no_telp_PerusahaanPasien" class="easyui-textbox" style="width:80px;"></input></td>
			</tr>
		</table>
    </div>
    <div data-options="region:'center'" border="thin">
        <table id="dg_PerusahaanPasien" class="easyui-datagrid" footer="#toolbar_PerusahaanPasien">
        </table>
    </div>
</div>

<div id="toolbar_PerusahaanPasien" style="padding:8px 0;">
    <div style="float: left; color: #000;padding: 0 40px 0 10px;">
        <label>Keyword</label>
        <input class="easyui-textbox" id="cari_keyword" style="width:150px;">
        <a href="#" class="easyui-linkbutton" style="color: #000;" iconCls="icon-ok" onclick="cari_PerusahaanPasien()"></a>
    </div>
    <div style="float: left;">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" style="margin:0 5px;" onclick="baru_PerusahaanPasien()">Baru</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" style="margin:0 5px;" onclick="simpan_PerusahaanPasien()">Simpan</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" style="margin:0 5px;" onclick="ubah_PerusahaanPasien()">Ubah</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cut',plain:true" style="margin:0 5px;" onclick="hapus_PerusahaanPasien()">Hapus</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true" style="margin:0 5px;" onclick="cetak_PerusahaanPasien()">Cetak</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="keluar_PerusahaanPasien()" style="margin:0 15px;">Keluar</a>
    </div>
</div>

<script type="text/javascript">
    var url = '{?=url()?}/{?=ADMIN?}/khanza/perusahaanpasien/?act=data&t={?=$_SESSION['token']?}';

    $('#dg_PerusahaanPasien').datagrid({
      url:url,
      singleSelect:true,
      pageSize:20,
      pagination:true,
      remoteFilter:false,
      remoteSort:false,
      multiSort:false,
      fitColumns:false,
      fit:true,
      columns:[[
        { field:'ck',checkbox:true},
        { field:'kode_perusahaan',title:'Kode',width:'100',sortable:true},
        { field:'nama_perusahaan',title:'Nama Perusahaan',width:'300',sortable:true}, 
        { field:'alamat',title:'Alamat',width:'300',sortable:true}, 
        { field:'kota',title:'Kota',width:'100',sortable:true}, 
        { field:'no_telp',title:'No. Telepon',width:'100',sortable:true}
      ]],
      onClickRow: function(){
        var row = $('#dg_PerusahaanPasien').datagrid('getSelected');
        $('#kode_PerusahaanPasien').textbox('setValue',row.kode_perusahaan);
        $('#nama_PerusahaanPasien').textbox('setValue',row.nama_perusahaan);
        $('#alamat_PerusahaanPasien').textbox('setValue',row.alamat);
        $('#kota_PerusahaanPasien').textbox('setValue',row.kota);
        $('#no_telp_PerusahaanPasien').textbox('setValue',row.no_telp);
	  },
      onDblClickRow: function(){
        var row = $('#dg_PerusahaanPasien').datagrid('getSelected');
        var dlg = $("#dlg_window_Pasien").data('dialog');
        if(typeof dlg !== 'undefined') {
            if(dlg.options.title == 'Cari Perusahaan Pasien') {
                $('#dlg_window_Pasien').dialog('close', 'Perusahaan Pasien')
                $('#kode_PerusahaanPasien_Pasien').val(row.kode_perusahaan);
                $('#nama_PerusahaanPasien_Pasien').textbox('setValue',row.nama_perusahaan);
            }
        }
	  }
    });

    function baru_PerusahaanPasien(){
        alert('Form Baru');
    }

    function simpan_PerusahaanPasien(){
        alert('Form Simpan');
    }

    function ubah_PerusahaanPasien(){
        alert('Form Ubah');
    }

    function hapus_PerusahaanPasien(){
        alert('Form Hapus');
    }

    function cetak_PerusahaanPasien(){
        alert('Form Cetak');
    }

    function keluar_PerusahaanPasien(){
        $('#wu-tabs').tabs('close','PerusahaanPasien');
    }

</script>
