<style>
  .bg {
    background: url('{?=url()?}/themes/admin/img/wallpaper.jpg') no-repeat center center fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="bg">
  <div class="dashboard_wall">
    <img src="{?=url()?}/{$msimrs.logo}" class="logo" width="120px" alt="">
    <p class="title">{$msimrs.nama_instansi}</p>
    <p class="alamat">{$msimrs.alamat} - {$msimrs.kota} - {$msimrs.propinsi}</p>
  </div>
</div>
