  <!-- begin of footer -->
  <div class="wu-footer" data-options="region:'south',border:true,split:false">
    &copy; 2018 - {?=date('Y')?} All Rights Reserved.
    <span style="float: right;">Made by <a href="https://basoro.id/" target="_blank"><b>drg. F. Basoro</b></a>. {$mlite.powered}, <b>V.Desktop.Beta.{$mlite.version}</b></span>
</div>

  <div id="w" class="easyui-window" title="Information" collapsible="false" minimizable="false"
           maximizable="false" icon="icon-save"  style=" width: 350px; height: 180px; padding: 5px;
          background: #fafafa;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
          <div class="easyui-layout" fit="true">
                  <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
                          <table cellpadding=3>
                                  <tr>
                                          <td>Password：</td>
                                          <td><input id="password" type="password" class="easyui-textbox" style="width:180px;" /></td>
                                  </tr>
                                  <tr>
                                          <td>Re-Password：</td>
                                          <td><input id="repassword" type="password" class="easyui-textbox" style="width:180px;" /></td>
                                  </tr>
                          </table>
                  </div>
                  <div region="south" border="false" style="text-align: right; height: 34px; line-height: 34px;">
                          <a id="btnEp" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" >
                                  Submit</a> <a id="btnCancel" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">Cancel</a>
                  </div>
          </div>
  </div>

  <div id="tc" class="easyui-menu" style="width:150px;">
          <div id="tc-tabclose">Close</div>
          <div id="tc-tabcloseall">Close all</div>
          <div id="tc-tabcloseother">Close other</div>
          <div class="menu-sep"></div>
          <div id="tc-tabcloseright">Close right side</div>
          <div id="tc-tabcloseleft">Close left side</div>
          <div class="menu-sep"></div>
          <div id="tc-exit">Exit</div>
  </div>

  <div id="dlg_window" class="easyui-dialog" style="width:98%;height:98%;" title="Dialog Window" data-options="closed:true,modal:true,border:'thin'"></div>

  <div id="dlg_window_medium" class="easyui-dialog" style="width:70%;height:60%;" title="Dialog Window" data-options="closed:true,modal:true,border:'thin'"></div>

</body>

<script type="text/javascript" src="{?=url([ADMIN, 'khanza', 'javascript'])?}"></script>

</html>
